
SET VANESSA_featurepath=d:\git\vanessa-behavoir\features\
SET VANESSA_ignoretags=IgnoreOnCIMainBuild,IgnoreOnLinux
SET VANESSA_translatemassage=1
SET VANESSA_allurecreatereport=1
SET VANESSA_allurepath=d:\git\paninvest\obrabotki_bdd\build\reports\
SET VANESSA_addtofeaturefilter=1
SET VANESSA_createlogs=1
SET VANESSA_logapath=d:\git\paninvest\obrabotki_bdd\build\
SET VANESSA_vanessarun=1
SET VANESSA_vanessashutdown=1

SET
"C:\Program Files (x86)\1cv8\8.3.7.1845\bin\1cv8.exe" DESIGNER /F"d:\git\obrabotki_bdd\build\ib" /Nbase /P123456 /WA+

