README.md merge=ours
*.bin binary
.gitmodules merge=ours
.gitignore merge=ours
.gitattributes merge=ours
LICENSE merge=ours
renames.txt eol=crlf
*.feature text eol=lf
*.bsl text eol=lf
*.css text eol=lf
*.js text eol=lf
