*Log.txt
*Err.txt
lib/TemplateEpf/Temp/*.txt
distr
tools/allure-report
tools/ServiceBases/v82ServiceBase
tools/ServiceBases/v82ServiceBase82
tools/ServiceBases/v83NoSyncServiceBase
tools/ServiceBases/v83ServiceBase
tools/ServiceBases/v83ServiceBase836
tools/ServiceBases/v83ServiceBase837
tools/ServiceBases/v83ServiceBase838
tools/ServiceBases/v83ServiceBase839
tools/ServiceBases/*.txt
tools/ServiceBases/*.log
tools/allure-report
tools/ServiceBases/allurereport
tasks/*.gem
tests/tests.config
tools/ScreenShots/
tools/ServiceBases/ScreenShots/
tools/Allure/
tools/HTML/
tools/Video/
tools/ScreenShotsTest/
temp
crowdin.yaml
.vscode
tools/Markdown/
tools/VideoTemp/
tools/VideoTools/FrameShow.exe
tools/VideoTools/KeyboardType.exe
tools/VideoTools/MouseMove.exe
tools/VideoTemp1/
tools/jUnit/
tools/ServiceBases/junitreport/
tools/ServiceBases/cucumber/
tools/Cucumber/
