[submodule "vendor/vanessa-behavior"]
	path = vendor/vanessa-behavior
	url = https://github.com/silverbulleters/vanessa-behavior
[submodule "vendor/vanessa-unpack"]
	path = vendor/vanessa-unpack
	url = https://github.com/silverbulleters/vanessa-unpack.git
[submodule "vendor/vanessa-base-init"]
	path = vendor/vanessa-base-init
	url = https://github.com/silverbulleters/vanessa-base-init
[submodule "vendor/vanessa-bdd-editor"]
	path = vendor/vanessa-bdd-editor
	url = https://github.com/silverbulleters/vanessa-bdd-editor
