*Log.txt
*Err.txt
*.epf
lib/TemplateEpf/Temp/*.txt
distr
tools/allure-report
tools/ServiceBases/v82ServiceBase
tools/ServiceBases/v82ServiceBase82
tools/ServiceBases/v83NoSyncServiceBase
tools/ServiceBases/v83ServiceBase
tools/ServiceBases/v83ServiceBase836
tools/ServiceBases/v83ServiceBase837
tools/ServiceBases/v83ServiceBase838
tools/ServiceBases/v83ServiceBase839
tools/ServiceBases/*.txt
tools/ServiceBases/*.log
tools/allure-report
tools/ServiceBases/allurereport
tasks/*.gem
tests/tests.config
tools/ScreenShots/
tools/ServiceBases/ScreenShots/
tools/Allure/
tools/HTML/
tools/Video/
tools/ScreenShotsTest/
temp
crowdin.yaml
.vscode
tools/Markdown/
tools/VideoTemp/
tools/VideoTools/FrameShow.exe
tools/VideoTools/KeyboardType.exe
tools/VideoTools/MouseMove.exe
tools/VideoTemp1/
tools/jUnit/
tools/ServiceBases/junitreport/
tools/ServiceBases/cucumber/
tools/Cucumber/
tools/ServiceBases/v83ServiceBase*/
tools/CompareFiles/
epfversion
fileversion
tools/Sikuli/SikuliServer.sikuli/
tools/Sikuli/SikuliXServer.sikuli/
tools/VideoTools/Arrow.exe
tools/VideoTools/MouseClickDLL.dll
tools/VideoTools/MouseClickEvent.exe
tools/SPPR/

.scannerwork/
tools/VideoTools/Rectangle.exe
.vs

*.bsl.orig
VanessaAutomation/Templates/WindowCaptureComponent/Ext/Template.bin
VanessaAutomation/Templates/VanessaEditor/Ext/Template.bin
VanessaAutomation/Templates/VanessaExtCentOS/Ext/Template.bin
VanessaAutomation/Templates/БиблиотекаJavaScript/Ext/Template.bin
VanessaAutomation/Templates/КлючевыеСловаGherkin/Ext/Template.bin
VanessaAutomationsingle/Templates/WindowCaptureComponent/Ext/Template.bin
VanessaAutomationsingle/Templates/VanessaEditor/Ext/Template.bin
VanessaAutomationsingle/Templates/VanessaExtCentOS/Ext/Template.bin
VanessaAutomationsingle/Templates/БиблиотекаJavaScript/Ext/Template.bin
VanessaAutomationsingle/Templates/КлючевыеСловаGherkin/Ext/Template.bin

HelpTTS/
lib/CF/83/ConfigDumpInfo.xml
VAEditorCacheFiles/
