*Log.txt
*Err.txt
lib/TemplateEpf/Temp/*.txt
distr
tools/allure-report
tools/ServiceBases/v82ServiceBase
tools/ServiceBases/v83NoSyncServiceBase
tools/ServiceBases/v83ServiceBase
tools/ServiceBases/*.txt
tools/allure-report
tools/ServiceBases/allurereport
tasks/*.gem
tests/tests.config
